.git
.github
.run
**/node_modules
**/.angular
client/dist
client/test-results
client/playwright-report
data
target
lms/bin
docs
**/*.exe
**/*.sqlite
**/*.sqlite-*
**/*.log
**/.env
**/.env.*
dino.toml
